.new {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-right: 16px;

  width: 370px;
  height: 208px;

  padding: 30px 10px;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -106.72%, rgba(0, 0, 0, 0.7) 100%),
    url("https://i.imgur.com/rM9JOnB.jpg");
  filter: drop-shadow(-3px 3px 10px rgba(0, 0, 0, 0.25));
  border-radius: 5px;

  &__pre {
    font-size: 18px;
    line-height: 21px;

    text-transform: lowercase;

    padding-left: 30px;
    padding-right: 30px;

    color: #ffffff;
  }

  &__post {
    font-size: 15px;
    line-height: 18px;

    color: #ffffff;
  }
}
