.signin-wrapper {
  box-sizing: border-box;
  height: 100%;
  margin-top: 113px;
  
  .ant-btn.ant-btn-primary {
    width: 100%;
  }

  .footer-text {
    font-size: 14px;
    text-align: center;
    margin-top: 126px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .no-acc{
      font-size: 14px;
    }

    .link {
      margin-top: 10px;
      margin-bottom: 30px;

      color: black;
      font-size: 24px;
    }
  }

  .radio-item {
    width: 379px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;

    background-color: #fff;
    border-radius: 5px;

    .radio-label {
      padding-left: 8px;
    }
  }

  .title {
    align-self: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .fields-wrapper {
    display: flex;
    flex-direction: column;

    .ant-form-item-required {
      color: #fff;
    }

    .ant-btn.ant-btn-primary {
      width: 195px;
      height: 45px;
      border-radius: 113px;

      align-self: center;

      color: black;
      background: #fff;
      border: none;

      margin-top: 10px;
    }

    .input-wrapper {
      width: 379px;
      .ant-input {
        border-radius: 5px;
        height: 42px;
      }
    }

    .input-wrapper-password {
      width: 379px;
      .ant-input {
        height: 32px;
      }

      .ant-input-affix-wrapper {
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 500px) {
  .signin-wrapper {
    width: 320px;
  }
}

@media (max-width: 320px) {
  .signin-wrapper {
    width: 280px;
  }
}
