.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  height: 584px;
  width: 100%;
  padding-top: 202px;
  padding-bottom: 108px;

  background-image: url("https://i.imgur.com/nF9onL1.png");
  background-position: top center;

  .nav {
    display: flex;
    flex-direction: column;

    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__pre {
        font-size: 18px;
      }

      &__post {
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 20px;
      }
    }

    .link {
      padding: 5px 0;
      font-weight: 500;
      font-size: 24px;
      color: #000000;
    }
  }

  .dispatch {
    display: flex;
    flex-direction: column;

    width: 370px;
    height: 177px;

    padding-top: 24px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 46px;

    font-size: 18px;
    color: #ffffff;
    background: #000000;

    &__text {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: center;

      color: #ffffff;
    }

    .dispatch-input {
      position: relative;

      .input {
        position: absolute;
      }
    }
  }

  .map {
    .fake-map {
      height: 183px;
      width: 359px;
      background-color: red;
    }
  }
}
