.signup-wrapper {
  box-sizing: border-box;
  margin-top: 50px;

  ::-webkit-scrollbar {
    height: 10px;
    width: 14px;
    border-radius: 99px;
  }

  ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 99px;
  }

  ::-webkit-scrollbar-thumb {
    // height: 20px;
    // background-color: rgb(65, 65, 65);
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 99px;
    background-color: #aaaaaa;
  }

  .ant-form {
    overflow: auto;
    max-height: 420px;
    padding-right: 25px;
  }

  .button-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .ant-btn.ant-btn-primary {
      width: 195px;
      height: 45px;
      border-radius: 113px;

      color: black;
      background: #fff;
      border: none;

      margin-top: 10px;
    }
  }

  .footer-text {
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    margin-top: 28px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .no-acc {
      font-size: 14px;
    }

    .link {
      margin-top: 10px;
      margin-bottom: 30px;

      color: black;
      font-size: 24px;
    }
  }

  .radio-item {
    width: 379px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;

    background-color: #fff;
    border-radius: 5px;

    .radio-label {
      padding-left: 8px;
    }
  }

  .title {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 40px;
    div {
      font-size: 24px;
    }
  }

  .fields-wrapper {
    display: flex;
    flex-direction: column;

    .ant-form-item-required {
      color: #fff;
    }

    .input-wrapper {
      width: 379px;
      .ant-input {
        border-radius: 5px;
        height: 42px;
      }
    }

    .input-wrapper-password {
      width: 379px;
      .ant-input {
        height: 32px;
      }

      .ant-input-affix-wrapper {
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 500px) {
  .signin-wrapper {
    width: 320px;
  }
}

@media (max-width: 320px) {
  .signin-wrapper {
    width: 280px;
  }
}
