.qBlok {
  display: flex;
  flex-direction: column;
  align-content: stretch;

  height: 400px;

  background-image: url("https://i.imgur.com/HjCDFLv.png");
  background-size: 100% 320px;
  background-position: center bottom;
  background-repeat: no-repeat;

  span {
    padding-bottom: 35px;

    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
  }

  .cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 60px 0;

    .col1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      width: 770px;

      &__pre {
        font-weight: bold;
        font-size: 64px;
        line-height: 78px;

        color: #ffffff;
      }

      &__post {
        font-weight: 500;
        font-size: 29px;
        line-height: 35px;

        padding-top: 10px;

        color: #c7d3ff;
      }
    }
  }
}
