.card-wrapper {
  max-width: 1170px;
  border-radius: 5px;

  margin-bottom: 30px;

  height: 100%;
  width: 100%;

  background-color: #f7fcff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  .card-content {
    margin-top: 15px;
    margin-left: 14px;
    margin-right: 100px;

    display: flex;
    .avatar-wrapper {
      margin-left: 14px;
      height: 100%;

      .ant-avatar {
        width: 56px;
        height: 56px;
      }
    }

    .question {
      margin-left: 30px;
      margin-bottom: 35px;

      &__author {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 9px;
      }

      &__text {
        max-width: 860px;
        font-size: 15px;
        line-height: 18px;
      }
    }

    .input-section {
      margin-left: 200px;
      margin-right: 200px;
      margin-top: 15px;
      border-bottom: 1px solid black;
      width: 100%;

      &__input {
        background-color: #f7fcff;
        border: none;
        max-width: 770px;
        width: 100%;

        &:focus {
          border: none;
        }
        &:active {
          border: none;
        }
        &:focus-visible {
          outline: none;
        }
      }
    }

    .comments-section {
      margin-left: 14px;
      margin-top: 39px;

      .card-content {
        margin-top: 15px;
        margin-left: 14px;

        display: flex;
        .avatar-wrapper {
          margin-left: 14px;
          height: 100%;

          .ant-avatar {
            width: 56px;
            height: 56px;
          }
        }

        .answer {
          margin-left: 30px;
          margin-bottom: 15px;

          &__author {
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 9px;
          }

          &__text {
            max-width: 780px;
            font-size: 15px;
            line-height: 18px;
          }
        }
      }
    }
  }
}
